@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
/* .right-menu {
    padding-left: 0;
    margin-bottom: 0;
} */
.navhead{
    padding: 0;
}
.header{
    background-color: #f1c40f;
}

.navbar-toggler{
    /* position: absolute; */
}


.header-logo img{
    max-width: 210px;
}

.header-menu{
    font-size: 19px;
    line-height: 22px;
    font-weight: 500;
    
}

.header-menu a:hover{
    color: #ece7d6;
}

.main h1{
    color: #53575a;
    font-size: 3.5rem;
    font-weight: 400;
}

.main-filter{
    justify-content: flex-end;
}

.main-btn-filter{
    margin-left: 40px;
    color: #53575a;
    width: 250px;
    height: 150px;
}

.main-btn-filter select{
    padding: 18px 16px;
}
.main-btn-filter option{
    font-size: 16px;
}
.post a{
    display: flex;
    align-items: center;
    width: 100%;    
    height: 180px;
    background-color: rgb(184, 184, 184);
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    border: 0.5px solid #ffc4124f;
    border-radius: 12px;
    text-decoration: none;
}
.post-img{
    width: 430px;
    height: 180px;
}
.post-img img{
    width: 100%;
}

.post-content{
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding-left: 40px;
    height: 180px;
}

/* responsive post */

.post-title{
    font-weight: 500;
    height: 90px;
    font-size: 23px;
    padding-top: 20px;
    margin-right: 70px;
    color: #f1c40f;
    /* text-shadow: #53575a; */
}

.post-date{
    color:#53575a;
}

.post-detail{
    color:#53575a;
}


/* footer */
.footer{
    margin-top: 100px;
    /* height: 300px; */
    background: #53575a;
    color: #fff;
    /* padding: 50px; */
}

.footer-list{
    list-style: none;
}
.footer-list li{
    font-size: 21px;
    margin-top: 20px;
}

.footer-list li img{
    width: 210px;
}

.footer-copyright{
    margin-left: 30px;
}

.footer-container{
    margin: auto;
    /* background-color: red; */
}

.footer-contact{ 
    text-align: right;
    line-height: 30px;
}

.header-menu-manager{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-manager a{
    color: #53575a;
    font-size: 19px;
    line-height: 22px;
    font-weight: 500;
}
.post_detail{
    width: 800px;
    object-fit: cover;
    margin: auto;
    color: #53575a;
    z-index: 1 !important;
}

.post_detail img{
    width: 100%;
}
.title_detail{
    font-size: 54px;
    font-weight: 400;
    /* margin: auto; */
}
.date_detail{
    font-size: 12px;
}
.content_detail{
    width: 100%;
    object-fit: cover;
}
.content_detail img{
    width: 100%;
}

.post_interact{
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post_interact i{
    font-size: 28px;
    margin-right: 5px;
}
.post_interact .fa-heart{
    color: #d63031;
}

.post_interact .fa-message{
    color: #00cec9;
}
/*  */
.post_interact i:hover{
    cursor: pointer;
}

.post_i_like{
    margin-right: 14px;
}
.black_bg{
    width: 100% ;
    height: 1000px;
    top: 0;
    left: 0;
    position: absolute !important;
    position: fixed !important;
    background-color: #53575a!important;
    opacity: 0.3;
    z-index: 9999;
    display: none;
}
.post_comment{
    width: 500px !important;
    height: 1000px !important;
    overflow-y: scroll !important;
    position: absolute !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    background-color: rgb(250, 250, 250) !important;
    z-index: 9999 !important;
    padding-bottom: 40px !important;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 100px 100px;
}

.post_comment_head{
    padding-top: 50px;
    padding-left: 30px;
}

.post_comment_post{
    padding: 30px;
}

.btn-comment{
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    color:rgb(255, 255, 255);
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
}

.btn-comment:hover{
    background-color: white;
    border: 1px solid #f1c40f;
    color:#f1c40f;
}

.post_comment_list .post_sum_comment{
    margin-left: 30px;
}

.post_comment_detail{
    width: 430px;
    background-color: rgb(252, 237, 237);
    margin-left: 30px;
    display: flex;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    
}

.post_comment_detail p{
    margin-left: 13px;
    margin-bottom: 5px;
    /* width: 100%; */
}

.post_comment_detail img{
    width: 50px;
    height: 50px;
}

.close_comment_icon{
    width: 10px;
    height: 10px;
    position: absolute;
    position: fixed;
    top: 26px;
    right: 40px;
    background-color: rgb(248, 248, 248);
    z-index: 9999;
    cursor: pointer;
}

.close_comment_icon i{
    font-size: 30px;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.search_category{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col_{
    height: 90px;
    width: 380px;
    /* overflow: hidden; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col_ select{
    width: 200px;

}

.search_{
    display: flex;
    align-items: center;
}

.search_ input{
    height: 48px;
    width: 380px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search_ button{
    height: 49px;
    /* margin-left: -1px; */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}